/* nave style */
*{
margin: 0px;
padding: 0px;
font-family: 'Open Sans',sans-serif;


}
.tex-primary{
color: #fd6e0a;

} 


/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3c29e;
   
}
.nav-title {
color: #181818;
font-size:45px ;
font-weight:800px ;
margin-left:30px;
/* padding: 15px; */

}

nav ul{
  display: flex;
  align-items: center;

}

nav li{
    list-style: none;
    margin-right:50px ;
}
nav a{
text-decoration: none;
color: #181818;
font-size:20px ;
}

.btn-primary{

 border-radius: 5px;
 background-color: #fd6e0a;
 border: none;
 color: #fff;
 font-size:20px ;
 font-weight: 700px;
 padding:8px 15px;

}







