/* nave style */
*{
margin: 0px;
padding: 0px;
font-family: 'Open Sans',sans-serif;


}
.head{
    background-color: #ecc0a0;
    background-image:url(img/header_bg.png);
    background-repeat:no-repeat;
    background-position:bottom right ;
    background-size: cover;
}

.tex-primary{
color: #fd6e0a;

} 


/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f3c29e; */
    margin:0px 200px;
   
}
.nav-title {
color: #181818;
font-size:45px ;
font-weight:800px ;
/* margin-left:30px; */
/* padding: 15px; */

}

nav ul{
  display: flex;
  align-items: center;

}

nav li{
    list-style: none;
    margin-right:50px ;
}
nav a{
text-decoration: none;
color: #181818;
font-size:20px ;
}

.btn-primary{

 border-radius: 5px;
 background-color: #fd6e0a;
 border: none;
 color: #fff;
 font-size:20px ;
 font-weight: 700px;
 padding:8px 15px;

}
/* banar suru */
.banner{
 padding: 30px 30px 0px 250px;
display: flex;
align-items: center;

}
.profile-pic{
width: 400px;

} 
/* about section */
.about{
padding: 130px;
border-radius: 10px;
background-color: #fff8f3;
margin:130px ;

}
.section-title{
color: #181818;
text-align: center;
font-size: 35px;
font-weight:700px ;

}
.section-des{
color: #757575;
text-align: center;
font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content:space-around
}
.about-info{
align-items: center;
margin: 20px;

}

.section-description{
 padding: 30px 150px;


}







